section h2{
    margin-left : 1em;
    color : black;
}

section p{
    color : black;
    margin : 1em;
}

section article{
    display:flex;
    margin : 0.5em;
    box-shadow: 1px 1px 2px;
    height : 12em;
}

section div{
    width : 50%;
    background-size : cover;
}

.texte {
    background-color: rgba(255, 255,255, 0.4);
    display : flex;
    align-items: center;
}


#afterwork{
    background-image: url(../images/divers/band_afterwork.jpg);
}


#foireauxvins{
    background-image: url(../images/divers/band_foirevin.jpg);
}


#degustation{
    background-image: url(../images/divers/band_degust.jpg);
}


#degustation h2{
    color : white;
}

#fetedivers{
    background-image: url(../images/divers/band_fete.jpg);
}

#fetedivers h2{
    color : white;
}


#mariagedivers{
    background-image: url(../images/divers/band_mariage.jpg);
}

#mariagedivers h2{
    color : white;
}




