#caveproduits{
    display:flex;
    text-align: center;
}

#lebar{
    background-color: rgba(255, 255, 255, 0.4);
    color : black;
    margin:1em;
}

#lacave {
    background-color: rgba(255, 255, 255, 0.4);
    color : black;
    margin:1em;

}


#caveproduits h2 {
    margin:1em;
    color : black

}


#caveproduits p {
    margin:1em;
    color : black
}


#caveproduits a i{
    color : black;
    font-size : 1.3em;
    text-decoration : none;
    color : black;
}

#caveproduits a i:hover{
    font-size : 1.5em;
    color : var(--colorbordeau);
}

#containerconfiance {
    display : flex;
    justify-content: space-around;
    text-align: center;
}

#confiance h2{
    margin-left:1em;
}

#confiance i{
    color : var(--colorbordeau);
}

#confiance i:hover{
    color : white;
    transform : scale(1.5);
}

#confiance img{
    width: 10em;
    box-shadow: 2px 2px 3px;
}

#comments {
    background-color: rgb(45, 45, 45);
    margin: 2em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

.pseudo{
    color: white;
}

.button{
    text-decoration: none;
    color: var(--colorbordeau);
    font-size: 0.5em;
    font-weight: bold; 
    
    border: solid 3px var(--colorbordeau);
    border-radius: 15px;
    
    background-color: white;
    padding: 5px;    
}

.button:hover{
    color: white;
    
    background-color: var(--colorbordeau);
    
    border-color: white;  
}



#espaceComments{
    border : 1px var(--colorbordeau) solid;
}

form, .white{
    color: white;
}

form .button{
    font-size: 1em
}

/*on permet à la zone message de pouvoir se redimmensionner en fonction du responsive*/

textarea[name=text]{
    overflow:scroll;
    resize:both;
}

@media screen and (max-width: 1024px){
    
    textarea[name=text]{
     resize : none;
     min-width : 100px;
     min-height : 100px;
     max-width : 300px;
     max-height : 300px;
    }
    
    #espaceComments{
    margin : 1em;
    }
    
    #histoireboutique img{
    width: 10em;
    }
    
    #caveproduits img{
    width : 10em;
    }
    
    #confiance img{
    width: 8em;
    }

}

@media screen and (max-width: 720px){
    
    textarea[name=text]{
     resize : none;
     min-width : 100px;
     min-height : 100px;
     max-width : 375px;
     max-height : 375px;
    }
    
    #histoireboutique {
    flex-direction: column;
    text-align: center;
    }
    
    #histoireboutique p{
    text-align: center;
    }
    
    #histoireboutique img{
    width: 8em;
    margin : 0.5em;
    box-shadow: 2px 2px 3px;
    }
    
    #caveproduits{
    flex-direction: column;
    }
    
    #containerconfiance {
    flex-direction: column;
    }  
    
    #comments {
    flex-direction: column;
    }
    
    #caveproduits img{
    width : 8em;
    padding : 0.5em;
    box-shadow: 2px 2px 3px;
    margin-bottom: 1em;
    }
    
    #confiance img{
    width: 5em;
    box-shadow: 2px 2px 3px;
    }

    #confiance h2{
    margin-left:1.8em;
    }
}

@media screen and (max-width: 480px){
    textarea[name=text]{
     resize : none;
     min-width : 100px;
     min-height : 100px;
     max-width : 250px;
     max-height : 250px;
    }
}

