:root {
    --colorbordeau: rgb(87, 6, 21);
}

.video img {
    width: 100%;
    height: auto;
    box-shadow: 0.1em 0.2em 0.2em black;
    border-top: solid 5px var(--colorbordeau);
    border-bottom: solid 5px var(--colorbordeau);
}

.quisommesnous {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}


.quisommesnous img {
    width: 10em;
    margin: 2em;
    margin-bottom: 3em;
    box-shadow: 2px 3px 5px black;
    background-color: rgba(45, 45, 45, 0.3);
}

.quisommesnous img:hover {
    transform: scale(1.5);
    box-shadow: 2px 3px 5px black;
}


.deuxiemebloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clickandcollect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: 0.3em 0.5em 0.3em var(--colorbordeau);
    background-color: rgba(45, 45, 45, 0.3);
    border: solid 3px var(--colorbordeau);
}


.logobouteille {
    background-image: url(../images/logo/16.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2em;
    width: 150px;
    height: 150px;
}

.logobouteille:hover {
    background-image: url(../images/logo/logobouteilleinverse.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    transform: scale(1.5);
}


.event {
    text-align: center;
    width: 40%;
    box-shadow: -0.3em 0.5em 0.3em var(--colorbordeau);
    border: solid 3px var(--colorbordeau);
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgba(45, 45, 45, 0.3);
}

.event img {
    width: 15em;
    border-radius: 2em;
    border: solid;
    border-color: white;
}

.event button {
    background-color: var(--colorbordeau);
    border-radius: 1em;
    border: solid white;
    padding: 0.5em;
    margin: 2em;
    margin-top: 1em;
    box-shadow: 0.1em 0.2em 0.2em black;
}

.event a {
    text-decoration: none;
    color:white;
}

.event a:visited {
    color: white;
}

.event a:visited:hover {
    color: var(--colorbordeau);
}

.event button:hover {
    transform: scale(1.5);
    border-color: white;
    background-color: white;
    color: var(--colorbordeau);
    border-color: var(--colorbordeau);
}

.event a{
    width: 100%;
}



.troisiemebloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.commentaires {
    background-image: url(../images/divers/black.jpg);
    padding: 20px;
    border: solid 5px var(--colorbordeau);
    border-radius: 3px;
    box-shadow: 2px 3px 5px black;
    

}

.com {
    color: white;
    font-weight: bolder;
    font-size: 1em;
}

.commentaires strong {
    color: var(--colorbordeau);
}

#machine {
    /*    font-family: 'Charmonman', cursive; */
    font-family: 'Dancing Script', cursive;
}

/*création de la zone d'animation*/
@-webkit-keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/*mise en place de l'animation*/
.machinebox {
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    padding-right: 2em;
    padding-left: 2em;
    -webkit-animation: typing 5s steps(38, end);
    /*steps nombre de caract*/
}

.photo {
    display: flex;
    border: solid 5px var(--colorbordeau);
    border-radius: 3px;
}


/*start slide*/

#slider {
    width: 80%;
    max-width: 507.36px;
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 20s slidy infinite;
}

#slider figure img {
    width: 21%;
    float: left;
    margin: 0;
}

@keyframes slidy {
    10% {
        left: 0px;
    }

    30% {
        left: -532.72px;
    }

    35% {
        left: -532.72px;
    }

    50% {
        left: -1065.44px;
    }

    55% {
        left: -1065.44px;
    }

    70% {
        left: -1598.16px;
    }

    75% {
        left: -1598.16px;
    }

    100% {
        left: -0px;
    }
}

/*end slide*/

@media screen and (max-width: 480px){
    
    section{
        margin-top: 2em;
    }
    
    .quisommesnous {
    flex-direction: column;
        
    }
    
    .quisommesnous img {
    width: 5em;
    margin: 0;
    margin-bottom: 0;
    }
    
    #deuxiemebloc{
    flex-direction: column;
    }

    
}
